.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
 
.nav{
  font-size: 1.5rem;
  display: flex;

  justify-content: space-around;

  
}

.friend-card{
  border: 3px solid black;
  width: 35rem;
  justify-content: center;
  margin: 2px;
  background:lightslategrey
  
}

.list{
  display: flex;
  flex-direction: column;
 align-items: center;
}